# Dependencias
node_modules/

# Archivos compilados
dist/
build/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db